In [66]:
import pandas as pd
import numpy as np
import csv
%matplotlib notebook
import matplotlib as ptl
ptl.get_backend()
import matplotlib.pyplot as plt

In [67]:
ls

combine_csvfiles.ipynb  D3R1_12_Mar_2018.csv  destructive.py
cv2_install_test.py     data_12_mar_2018/     read_me_12_mar_2018.txt
D1R1_19_Feb_2018.csv    data_19_22_feb_2018/  read_me_19_22_feb_2018
D2R1_12_Mar_2018.csv    Dataset.ipynb
D2R1_22_Feb_2018.csv    destructive.ipynb

In [68]:
D1=pd.read_csv("D1R1_19_Feb_2018.csv")
D2=pd.read_csv("D2R1_12_Mar_2018.csv")
D3=pd.read_csv("D2R1_22_Feb_2018.csv")
D4=pd.read_csv("D3R1_12_Mar_2018.csv")
D1.head()

,Unnamed: 0,400.35,402.00,403.64,405.29,406.93,408.58,410.22,411.86,413.51,...,994.18,995.67,997.16,998.65,DAS,Nitrogen,Carbon,CNRatio,Hydrogen,Water
0,R1,0.111727,0.111040,0.112590,0.111976,0.112700,0.113385,0.113313,0.114760,0.114894,...,0.558114,0.580757,0.558623,0.578226,115,0.780,16.779,21.511538,8.059,58.54962
1,R2,0.114737,0.114983,0.115602,0.115359,0.116062,0.117156,0.116826,0.117120,0.118154,...,0.566155,0.590031,0.565053,0.588710,115,0.780,16.779,21.511538,8.059,58.54962
2,R3,0.074986,0.075108,0.075542,0.074989,0.076254,0.076076,0.076810,0.076963,0.077869,...,0.482091,0.502318,0.476551,0.504839,115,0.780,16.779,21.511538,8.059,58.54962
3,R4,0.072779,0.072999,0.073789,0.073996,0.073879,0.075426,0.077307,0.078901,0.081711,...,0.516594,0.511939,0.522693,0.510258,115,1.551,21.854,14.090264,3.188,66.87448
4,R5,0.127786,0.127896,0.128633,0.129318,0.129562,0.131645,0.133511,0.135433,0.138659,...,0.628066,0.615412,0.631997,0.618161,115,1.551,21.854,14.090264,3.188,66.87448

In [69]:
print(D1.shape)
print(D2.shape)
print(D3.shape)
print(D4.shape)
D3.head()

(36, 388)
(36, 388)
(36, 388)
(36, 388)

,Unnamed: 0,400.35,402.00,403.64,405.29,406.93,408.58,410.22,411.86,413.51,...,994.18,995.67,997.16,998.65,DAS,Nitrogen,Carbon,CNRatio,Hydrogen,Water
0,R1,0.050814,0.051050,0.051082,0.052309,0.051684,0.051828,0.052285,0.052662,0.053447,...,0.495726,0.496356,0.499255,0.495076,103,1.190,20.723,17.414286,3.917,0
1,R2,0.069021,0.069575,0.068679,0.070247,0.069487,0.069535,0.068937,0.069765,0.070009,...,0.490028,0.495627,0.493294,0.485985,103,1.190,20.723,17.414286,3.917,0
2,R3,0.060757,0.059739,0.060478,0.060097,0.060966,0.061112,0.061381,0.062004,0.062489,...,0.499644,0.501093,0.502608,0.501136,103,1.190,20.723,17.414286,3.917,0
3,R4,0.054866,0.053746,0.055789,0.055490,0.057437,0.058310,0.060619,0.063249,0.065761,...,0.597241,0.595339,0.577298,0.599554,103,0.891,17.949,20.144781,6.053,0
4,R5,0.068344,0.065824,0.067263,0.066449,0.066791,0.067396,0.067412,0.068242,0.066996,...,0.571724,0.574859,0.552228,0.575037,103,0.891,17.949,20.144781,6.053,0

In [77]:
Data=pd.concat([D1,D2,D3,D4])
Data.shape
Data.head()

,Unnamed: 0,400.35,402.00,403.64,405.29,406.93,408.58,410.22,411.86,413.51,...,994.18,995.67,997.16,998.65,DAS,Nitrogen,Carbon,CNRatio,Hydrogen,Water
0,R1,0.111727,0.111040,0.112590,0.111976,0.112700,0.113385,0.113313,0.114760,0.114894,...,0.558114,0.580757,0.558623,0.578226,115,0.780,16.779,21.511538,8.059,58.54962
1,R2,0.114737,0.114983,0.115602,0.115359,0.116062,0.117156,0.116826,0.117120,0.118154,...,0.566155,0.590031,0.565053,0.588710,115,0.780,16.779,21.511538,8.059,58.54962
2,R3,0.074986,0.075108,0.075542,0.074989,0.076254,0.076076,0.076810,0.076963,0.077869,...,0.482091,0.502318,0.476551,0.504839,115,0.780,16.779,21.511538,8.059,58.54962
3,R4,0.072779,0.072999,0.073789,0.073996,0.073879,0.075426,0.077307,0.078901,0.081711,...,0.516594,0.511939,0.522693,0.510258,115,1.551,21.854,14.090264,3.188,66.87448
4,R5,0.127786,0.127896,0.128633,0.129318,0.129562,0.131645,0.133511,0.135433,0.138659,...,0.628066,0.615412,0.631997,0.618161,115,1.551,21.854,14.090264,3.188,66.87448

In [76]:
Data.to_csv('Data_in_out.csv', index=False)